
# Maven build output

target/



# Application-generated output

output/



# Eclipse / Spring Tool Suite

.classpath

.project

.settings/



# IDE files

.idea/

*.iml



# OS files

.DS_Store

Thumbs.db

